﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="KPI Tizimi Administrator">
    <meta name="description" content="O'qituvchilar uchun KPI (Kalit Ko‘rsatkichlar Indikatori) nazorat tizimi">
    <title>KPI Tizimi – hodimlar uchun nazorat paneli</title>
    <link rel="icon" type="image/png" href="~/uploads/metrics.png">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor_components/font-awesome/css/font-awesome.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor_components/font-awesome/css/font-awesome.min.css" asp-append-version="true">

    <link rel="stylesheet" href="~/assets/vendor_components/bootstrap/dist/css/bootstrap.css" asp-append-version="true">

    <link rel="stylesheet" href="~/css/bootstrap-extend.css" asp-append-version="true">

    <link rel="stylesheet" type="text/css" href="~/assets/vendor_components/font-awesome/css/font-awesome.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor_components/font-awesome/css/font-awesome.min.css" asp-append-version="true">

    <link href="~/datetime/css/bootstrap-datetimepicker.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/master_style.css" asp-append-version="true">

    <link rel="stylesheet" href="~/css/skins/_all-skins.css" asp-append-version="true">

    <link rel="stylesheet" type="text/css" href="~/css/loader.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/jquery-ui.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/jquery.dataTables.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/jquery-ui-timepicker-addon.min.css" asp-append-version="true">
    <link href="~/assets/vendor_components/jquery-toast-plugin-master/dist/jquery.toast.min.css" asp-append-version="true" rel="stylesheet">
    <link rel="stylesheet" href="~/css/select2.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/multi-select-js/example-styles.css" asp-append-version="true" type="text/css">

    <link href="~/assets/vendor_components/sweetalert/sweetalert.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/css/input_and_table_style.css" asp-append-version="true" rel="stylesheet" />

    <link href="~/new_version_2/fonts/css2Font.css" asp-append-version="true" rel="stylesheet" type="text/css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

    <link href="~/new_version_2/vendor/bootstrap-icons/bootstrap-icons.css" asp-append-version="true" rel="stylesheet">

    <link href="~/new_version_2/vendor/swiper/swiper-bundle.min.css" asp-append-version="true" rel="stylesheet">
    <script src="~/new_version_2/vendor/swiper/swiper-bundle.min.js?v=1" asp-append-version="true"></script>



    <style>
        body {
            font-family: 'Segoe UI', sans-serif;
            background: #eef2f7;
        }

        .main-header {
            background: linear-gradient(90deg, #4e54c8, #8f94fb);
            box-shadow: 0 3px 15px rgba(0,0,0,0.2);
        }

        .navbar {
            background: transparent !important;
        }

        .main-sidebar {
            background: linear-gradient(180deg, #2c3e50, #1a1a2e);
            box-shadow: 2px 0 10px rgba(0,0,0,0.3);
        }

        .sidebar-menu > li > a {
            color: #d1d9e6;
            margin: 6px 10px;
            border-radius: 10px;
            transition: all 0.3s ease;
        }

            .sidebar-menu > li > a:hover {
                background: linear-gradient(90deg, #4e54c8, #8f94fb);
                color: #fff;
                transform: translateX(6px);
            }

        .sidebar-menu > li.active > a {
            background: linear-gradient(90deg, #ff7e5f, #feb47b);
            color: #fff;
        }

        .user-profile {
            text-align: center;
            padding: 12px;
        }

            .user-profile img {
                border: 2px solid #fff;
            }

        .content-wrapper {
            background: #eef2f7;
        }

        .content {
            background: #fff;
            border-radius: 15px;
            padding: 20px;
            box-shadow: 0 4px 20px rgba(0,0,0,0.08);
            animation: fadeIn 0.5s ease-in-out;
        }

        .box, .card {
            border-radius: 15px;
            border: none;
            box-shadow: 0 3px 15px rgba(0,0,0,0.1);
            transition: 0.3s;
        }

            .box:hover, .card:hover {
                transform: translateY(-6px);
            }

        .btn {
            border-radius: 10px !important;
            transition: 0.3s;
        }

        .btn-primary {
            background: linear-gradient(90deg, #4e54c8, #8f94fb);
            border: none;
        }

        .btn-success {
            background: linear-gradient(90deg, #00c6ff, #0072ff);
            border: none;
        }

        .btn-danger {
            background: linear-gradient(90deg, #ff416c, #ff4b2b);
            border: none;
        }

        .btn:hover {
            transform: scale(1.07);
        }

        table.dataTable {
            border-radius: 10px;
            overflow: hidden;
        }

            table.dataTable thead {
                background: linear-gradient(90deg, #4e54c8, #8f94fb);
                color: white;
            }

            table.dataTable tbody tr:hover {
                background: #f5f7ff;
            }

        .dropdown-menu {
            border-radius: 12px;
            box-shadow: 0 5px 20px rgba(0,0,0,0.15);
        }

        .main-footer {
            background: linear-gradient(90deg, #4e54c8, #8f94fb);
            color: #fff;
            text-align: center;
            padding: 10px;
        }

        ::-webkit-scrollbar {
            width: 6px;
        }

        ::-webkit-scrollbar-thumb {
            background: #4e54c8;
            border-radius: 10px;
        }

    </style>
    
    @RenderSection("styles", required: false)

    <script type="text/javascript" language="javascript" src="~/js/jquery.js" asp-append-version="true"></script>

    <script src="~/assets/vendor_components/jquery/dist/jquery.js" asp-append-version="true"></script>

    <script src="~/assets/vendor_components/jquery-ui/jquery-ui.js" asp-append-version="true"></script>

    <script src="~/assets/vendor_components/popper/dist/popper.min.js" asp-append-version="true"></script>

    <script src="~/assets/vendor_components/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>

    <script src="~/assets/vendor_components/chart.js-master/Chart.min.js" asp-append-version="true"></script>

    <script src="~/assets/vendor_components/jquery-slimscroll/jquery.slimscroll.js" asp-append-version="true"></script>

    <script src="~/assets/vendor_components/jquery-steps-master/build/jquery.steps.js" asp-append-version="true"></script>

    <script src="~/assets/vendor_components/jquery-validation-1.17.0/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script type="text/javascript" language="javascript" src="~/js/jquery.dataTables.js" asp-append-version="true"></script>
    <script type="text/javascript" language="javascript" src="~/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script type="text/javascript" language="javascript" src="~/js/jquery-ui-timepicker-addon.min.js" asp-append-version="true"></script>
    <script type="text/javascript" language="javascript" src="~/js/money_to_str.js" asp-append-version="true"></script>
    <script src="~/assets/vendor_components/jquery-toast-plugin-master/dist/jquery.toast.min.js" asp-append-version="true"></script>
    <script type="text/javascript" language="javascript" src="~/js/select2.full.js" asp-append-version="true"></script>

    <script src="~/assets/vendor_components/sweetalert/sweetalert.min.js" asp-append-version="true"></script>

    <script type="text/javascript" language="javascript" src="~/js/template.js" asp-append-version="true"></script>

    <script type="text/javascript" language="javascript" src="~/lib/microsoft/signalr/dist/browser/signalr.js" asp-append-version="true"></script>

    <script src="~/js/loaderIcon.js" asp-append-version="true"></script>

    <script src="~/js/general.js" asp-append-version="true"></script>

</head>

<body class="hold-transition skin-blue body_new sidebar-mini sidebar_mini_new" id="bodyid">

    <div class="wrapper">

        <header class="main-header" style="background-color:#1a3a6c !important; text-align:center">

            <a href="#" class="logo" style="background-color:#1a3a6c !important">
                <b class="logo-mini" style="align-content:center"> &nbsp&nbsp&nbsp&nbsp @ViewBag.usertype_name</b>
            </a>
           
            <nav class="navbar navbar-static-top" style="background-color:#1a3a6c !important">
              
                <div>
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>

                </div>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <li class="search-box">
                            <a class="nav-link hidden-sm-down" href="javascript:void(0)"><i class="mdi mdi-magnify"></i></a>
                            <form class="app-search" style="display: none;">
                                <input type="text" class="form-control" placeholder="Search &amp; enter"> <a class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li>

                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="mdi mdi-email"></i>
                            </a>
                            <ul class="dropdown-menu scale-up">
                                <li class="header">You have 5 messages</li>
                                <li>
                                    <ul class="menu inner-content-div">
                                        <li>
                                            
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="../images/user2-160x160.jpg" class="rounded-circle" alt="User Image">
                                                </div>
                                                <div class="mail-contnet">
                                                    <h4>
                                                        Lorem Ipsum
                                                        <small><i class="fa fa-clock-o"></i> 15 mins</small>
                                                    </h4>
                                                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                                                </div>
                                            </a>
                                        </li>
                                   
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="../images/user3-128x128.jpg" class="rounded-circle" alt="User Image">
                                                </div>
                                                <div class="mail-contnet">
                                                    <h4>
                                                        Nullam tempor
                                                        <small><i class="fa fa-clock-o"></i> 4 hours</small>
                                                    </h4>
                                                    <span>Curabitur facilisis erat quis metus congue viverra.</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="../images/user4-128x128.jpg" class="rounded-circle" alt="User Image">
                                                </div>
                                                <div class="mail-contnet">
                                                    <h4>
                                                        Proin venenatis
                                                        <small><i class="fa fa-clock-o"></i> Today</small>
                                                    </h4>
                                                    <span>Vestibulum nec ligula nec quam sodales rutrum sed luctus.</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/images/barsa.jpg" class="rounded-circle" alt="User Image">
                                                </div>
                                                <div class="mail-contnet">
                                                    <h4>
                                                        Praesent suscipit
                                                        <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                                    </h4>
                                                    <span>Curabitur quis risus aliquet, luctus arcu nec, venenatis neque.</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/images/barsa.jpg" class="rounded-circle" alt="User Image">
                                                </div>
                                                <div class="mail-contnet">
                                                    <h4>
                                                        Donec tempor
                                                        <small><i class="fa fa-clock-o"></i> 2 days</small>
                                                    </h4>
                                                    <span>Praesent vitae tellus eget nibh lacinia pretium.</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">See all e-Mails</a></li>
                            </ul>
                        </li>

                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="mdi mdi-bell"></i>
                            </a>
                            <ul class="dropdown-menu scale-up">
                                <li class="header">You have 7 notifications</li>
                                <li>

                                    <ul class="menu inner-content-div">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> Curabitur id eros quis nunc suscipit blandit.
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning text-yellow"></i> Duis malesuada justo eu sapien elementum, in semper diam posuere.
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-red"></i> Donec at nisi sit amet tortor commodo porttitor pretium a erat.
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-shopping-cart text-green"></i> In gravida mauris et nisi
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user text-red"></i> Praesent eu lacus in libero dictum fermentum.
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user text-red"></i> Nunc fringilla lorem
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user text-red"></i> Nullam euismod dolor ut quam interdum, at scelerisque ipsum imperdiet.
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>

                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="mdi mdi-message"></i>
                            </a>
                            <ul class="dropdown-menu scale-up">
                                <li class="header">You have 6 tasks</li>
                                <li>

                                    <ul class="menu inner-content-div">
                                        <li>
                                        
                                            <a href="#">
                                                <h3>
                                                    Lorem ipsum dolor sit amet
                                                    <small class="pull-right">30%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-aqua" style="width: 30%" role="progressbar"
                                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">30% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                 
                                        <li>
                                  
                                            <a href="#">
                                                <h3>
                                                    Vestibulum nec ligula
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-danger" style="width: 20%" role="progressbar"
                                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                               
                                        <li>
                                
                                            <a href="#">
                                                <h3>
                                                    Donec id leo ut ipsum
                                                    <small class="pull-right">70%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-light-blue" style="width: 70%" role="progressbar"
                                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">70% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                         
                                        <li>
                              
                                            <a href="#">
                                                <h3>
                                                    Praesent vitae tellus
                                                    <small class="pull-right">40%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-yellow" style="width: 40%" role="progressbar"
                                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">40% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <h3>
                                                    Nam varius sapien
                                                    <small class="pull-right">80%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-red" style="width: 80%" role="progressbar"
                                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">80% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <h3>
                                                    Nunc fringilla
                                                    <small class="pull-right">90%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-primary" style="width: 90%" role="progressbar"
                                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">90% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="@ViewBag.iconPath" class="user-image rounded-circle" alt="User Image">
                            </a>
                            <ul class="dropdown-menu scale-up">
                                <li class="user-header">
                                    <img src="@ViewBag.iconPath" class="float-left rounded-circle" alt="User Image">

                                    <p style="color:white">
                                        @ViewBag.user_fio
                                        <small class="mb-5">ozodbek@gmail.com</small>
                                    </p>
                                </li>

                                <li class="user-body">
                                    <div class="row no-gutters">
                                        <div class="col-12 text-left">
                                            <a asp-action="MyData" asp-controller="Home"><i class="ion ion-person"></i> Mening profilim</a>
                                        </div>
                                        <div role="separator" class="divider col-12"></div>
                                        <div class="col-12 text-left">
                                            <a asp-action="Profile" asp-controller="Home"><i class="ti-settings"></i> Profil sozlamalari </a>
                                        </div>
                                        <div role="separator" class="divider col-12"></div>
                                        <div class="col-12 text-left">
                                            <a asp-action="Index" asp-controller="Login"><i class="fa fa-power-off"></i> Chiqish</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="main-sidebar">
            <section class="sidebar">

                <ul class="sidebar-menu" data-widget="tree">
                    <li class="user-profile treeview" style="padding: 4px;">
                        <div style="display: flex; align-items: center; justify-content: center;">
                            <img src="@ViewBag.iconPath" alt="user"
                                 style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover; margin-right: 10px;">
                            <span style="font-size: 14px; color: white">@ViewBag.user_fio</span>
                        </div>
                        <ul class="treeview-menu">
                            <li><a href="javascript:void()"><i class="fa fa-user mr-5"></i>Mening profilim </a></li>
                            <li><a href="javascript:void()"><i class="fa fa-envelope-open mr-5"></i>Email</a></li>
                            <li><a href="javascript:void()"><i class="fa fa-cog mr-5"></i>Profil sozlamalari</a></li>
                            <li><a href="javascript:void()"><i class="fa fa-power-off mr-5"></i>Akkuntdan chiqish</a></li>
                        </ul>
                    </li>
                    <li >
                        <a asp-action="Index2">
                            <i class="fa fa-home"></i> <span>Asosiy</span>
                        </a>
                    </li>

                    <li >
                        <a asp-action="IshReja" asp-controller="Home">
                            <i class="fa fa-calendar"></i> <span>Ish reja</span>
                        </a>
                    </li>
                    
                    <li >
                        <a asp-action="Tajriba">
                            <i class="fa fa-line-chart"></i> <span>Tajribasi</span>
                        </a>
                    </li>

                    <li >
                        <a asp-controller="Home" asp-action="Portfolio">
                            <i class="fa fa-address-book"></i> <span>Portfolio</span>
                        </a>
                    </li>

                    <li >
                        <a asp-action="ListBlog">
                            <i class="fa fa-bar-chart"></i> <span>Ilmiy faoliyati</span>
                        </a>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-bar-chart"></i> <span>Ball Tizimi</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-down"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a asp-action="ImportDocPed"><i class="fa fa-circle-o"></i> Pedagog (100 ball)</a></li>                            
                        </ul>
                    </li>   

                    <li>
                        <a asp-action="MyData">
                            <i class="fa fa-list-alt"></i> <span>Malumotlarim</span>
                        </a>
                    </li>

                    <li >
                        <a asp-action="Profile">
                            <i class="fa fa-user"></i> <span>Profile</span>
                        </a>
                    </li>

                    <li>
                        <a asp-action="Index">
                            <i class="fa fa-power-off"></i> <span>Chiqish</span>
                        </a>
                    </li>
                </ul>
            </section>
        </aside>

        <div class="content-wrapper">

            <section class="content" style="padding: 15px;" id="pustoy">
                @RenderBody()
            </section>

        </div>

        <footer class="main-footer" id="footer">
            <div class="pull-right d-none d-sm-inline-block">
                <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
                    <li class="nav-item">
                        <a class="nav-link" href="#">FAQ</a>
                    </li>
                </ul>
            </div>
            &copy; 2026-TDTrU diplom ishi Xayrullayev Xayotbek<span id="current-year"></span> <a href="#"></a>
        </footer>

        <aside class="control-sidebar control-sidebar-light" id="right">
        </aside>
        <div class="control-sidebar-bg"></div>

    </div>

    <style type="text/css">
        .error {
            color: red;
        }

        .sidebar-menu li a {
            text-decoration: none !important;
            border-bottom: none !important;
        }

            .sidebar-menu li a:hover {
                text-decoration: none !important;
            }

            .sidebar-menu li a span {
                text-decoration: none !important;
            }
    </style>

    @RenderSection("scripts", required: false)

</body>
</html>